
@{
    ViewBag.Title = "Leaks";
}

   
<h2>GW2 Expansion 2 Leaks</h2>
<h4>Elite Specializations</h4>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active "><center><img src="~/Content/images/Leaks/01 - q5Hkcwa.jpg" /></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/02 - 8NwQEcu.jpg" height="679"/></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/03 - jDWJpWq.jpg"  height="679"/></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/04 - i32SnPP.jpg"  height="679"/></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/05 - hMtjk9K.jpg"  height="679"/></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/06 - cWNz7Bt.jpg"  height="679"/></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/07 - 0NUqCvf.jpg"  height="679"/></center></div>
            <div class="item"><center><img src="~/Content/images/Leaks/YPyFYQhaEjK20TAunAURHq0171tMNUAL78-N2zfGCQw.jpg"  height="679"/>> </center></div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</div>
<div class="row">
        <div class="container col-md-8">
        <h4>Mounts</h4>
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2"></li>
                <li data-target="#myCarousel2" data-slide-to="3"></li>
                <li data-target="#myCarousel2" data-slide-to="4"></li>
                <li data-target="#myCarousel2" data-slide-to="5"></li>
                <li data-target="#myCarousel2" data-slide-to="6"></li>


            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <center>
                        <img src="~/Content/images/Leaks/18 - 5Wl7VEv.jpg" height="457" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/19 - 9MQJR1r.jpg" height="457" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/20 - 5grLreo.jpg" height="457" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/21 - jBfiCNs.jpg" height="457" width="900" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/22 - agyX9gq.jpg" height="457" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/23 - PhVPiFI.jpg" height="457" />
                    </center>
                </div>

                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/24 - ypBt9IT.jpg" height="457" />
                    </center>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

        <div class="container col-md-4">
            <h4>Masterys</h4>
        <div id="myCarousel4" class="carousel slide" data-ride="carousel">
            <!-- Indicators
            <ol class="carousel-indicators">
                <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel3" data-slide-to="1"></li>
                <li data-target="#myCarousel3" data-slide-to="2"></li>
                <li data-target="#myCarousel3" data-slide-to="3"></li>
                <li data-target="#myCarousel3" data-slide-to="4"></li>
            </ol>-->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height: 444px;">
                <div class="item active">
                    <center>
                        <img src="~/Content/images/Leaks/25 - 8GRkK58.jpg" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/26 - KlmxBLc.jpg" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/27 - Ks9CSkM.jpg" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/28 - IBbHH8d.jpg" />
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="~/Content/images/Leaks/29 - 29cmND8.jpg" />
                    </center>
                </div>

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel4" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel4" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>

        <div class="container col-md-4"  >
            
            <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                <!-- Indicators
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel3" data-slide-to="1"></li>
                    <li data-target="#myCarousel3" data-slide-to="2"></li>
                    <li data-target="#myCarousel3" data-slide-to="3"></li>
                    <li data-target="#myCarousel3" data-slide-to="4"></li>
                    <li data-target="#myCarousel3" data-slide-to="5"></li>
                    <li data-target="#myCarousel3" data-slide-to="6"></li>
                    <li data-target="#myCarousel3" data-slide-to="7"></li>
                    <li data-target="#myCarousel3" data-slide-to="8"></li>
                    <li data-target="#myCarousel3" data-slide-to="9"></li>
                    <li data-target="#myCarousel3" data-slide-to="10"></li>
                    <li data-target="#myCarousel3" data-slide-to="11"></li>
                    <li data-target="#myCarousel3" data-slide-to="12"></li>
                    <li data-target="#myCarousel3" data-slide-to="13"></li>
                    <li data-target="#myCarousel3" data-slide-to="14"></li>
                    <li data-target="#myCarousel3" data-slide-to="15"></li>
                    <li data-target="#myCarousel3" data-slide-to="16"></li>
                </ol>-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="height: 183px;">
                    <div class="item active">
                        <center>
                            <img src="~/Content/images/Leaks/30 - iodtOkZ.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/31 - gCvNd2r.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/32 - uFByXge.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/33 - VZE2pil.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/34 - 2TDux2H.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/35 - Qz2Hwbl.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/36 - KJoPODr.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/37 - ukbrQpP.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/38 - hRwf2NU.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/39 - iZwq6a4.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/40 - UUNqxdi.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/41 - HTd2reh.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/42 - dHituT8.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/43 - QDbY6S2.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/44 - eWCSC89.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/45 - 2MqFF1W.jpg" />
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="~/Content/images/Leaks/46 - PwRkSGC.jpg" />
                        </center>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
           

        </div>
</div>
<div class="row">
    <img src="~/Content/images/Leaks/16 - K3fNYCm.jpg" />
    <img src="~/Content/images/Leaks/17 - 7PxE9Ty.jpg" />
    <img src="~/Content/images/Leaks/09 - 18oH12U.jpg" />
</div>
<h4>Maps</h4>
<div class="btn-group btn-group-justified">
    <a onclick="PickMap(1)" class="btn btn-default">1</a>
    <a onclick="PickMap(2)" class="btn btn-default">2</a>
    <a onclick="PickMap(3)"class="btn btn-default">3</a>
    <a onclick="PickMap(4)" class="btn btn-default">4</a>
    <a onclick="PickMap(5)" class="btn btn-default">5</a>
    <a onclick="PickMap(6)" class="btn btn-default">6</a>
</div>
<div id="image-map" style="height: 1000px;"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    // Using leaflet.js to pan and zoom a big image.
    // See also: http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html

    // create the slippy map
    var map = L.map('image-map', {
        minZoom: 1,
        maxZoom: 4,
        center: [0, 0],
        zoom: 1,
        crs: L.CRS.Simple
    });
    function PickMap(n) {
     
       

        // dimensions of the image
        var w, h, url;
        switch(n){
            case 1:
                w = 2864;
                h = 1782;
                url = 'https://s3.amazonaws.com/lucklogsstorage/Leaks/10+-+dEtGZOP.jpg';
                break;
            case 2:
                w = 2087;
                h = 1024;
                url = 'https://s3.amazonaws.com/lucklogsstorage/Leaks/11+-+aOVyWva.jpg';
                break;
            case 3:
                w = 1466;
                h = 1355;
                url = 'https://s3.amazonaws.com/lucklogsstorage/Leaks/12+-+Kmzf6Im.jpg';
                break;
            case 4:
                w = 2265;
                h = 1046;
                url = 'https://s3.amazonaws.com/lucklogsstorage/Leaks/13+-+LYTMviO.jpg';
                break;
            case 5:
                w = 1196;
                h = 1755;
                url = 'https://s3.amazonaws.com/lucklogsstorage/Leaks/14+-+h3aEo7H.jpg';
                break;
            default:
                w = 1732;
                h = 1522;
                url = 'https://s3.amazonaws.com/lucklogsstorage/Leaks/15+-+trnHFnR.jpg';
                break;
        }


        // calculate the edges of the image, in coordinate space
        var southWest = map.unproject([0, h], map.getMaxZoom() - 1);
        var northEast = map.unproject([w, 0], map.getMaxZoom() - 1);
        var bounds = new L.LatLngBounds(southWest, northEast);

        // add the image overlay,
        // so that it covers the entire map
        L.imageOverlay(url, bounds).addTo(map);

        // tell leaflet that the map is exactly as big as the image
        map.setMaxBounds(bounds);
    }
</script>

    @*<img src="~/Content/images/Leaks/10 - dEtGZOP.jpg" />*@

    @*<img src="~/Content/images/Leaks/11 - aOVyWva.jpg" />
    <img src="~/Content/images/Leaks/12 - Kmzf6Im.jpg" />
    <img src="~/Content/images/Leaks/13 - LYTMviO.jpg" />
    <img src="~/Content/images/Leaks/14 - h3aEo7H.jpg" />
    <img src="~/Content/images/Leaks/15 - trnHFnR.jpg" />*@
