
@{
    ViewBag.Title = "Skills";
}

<h2>Weapon Skills</h2>
<p>A list of skills that this website gathers from the GW2API in order to determine what weapon a player was usieng based on skills</p>
<p>@TempData["Debug"]</p>
<p>@Html.Raw(TempData["Skills"])</p>

